body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header#page-header {
    width: 100%;
    height: 30px;
    background: linear-gradient(
        180deg,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 35%,
        rgb(205, 225, 245) 50%,
        rgb(205, 225, 245) 53%
    );
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-bottom: 1px solid rgb(155, 172, 202);
}
#page-header > #header-logo {
    margin-right: 16px;
}
#page-header > button.header-linkbtn {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 1px transparent;
    margin-right: 12px;
    border-radius: 3px;
    overflow: hidden;
}
#page-header > button.header-linkbtn:hover {
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 1px rgb(155, 152, 182);
    border-radius: 3px;
}
#page-header > button.header-linkbtn:active {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(205, 205, 205);
    box-shadow: 0px 0px 0px 1px rgb(115, 122, 160);
    border-radius: 3px;
}
div#page-container {
    width: 100%;
    height: calc(100vh - 30px);
    background-image: repeating-linear-gradient(
        45deg,
        #fcfcfc 0%,
        #fcfcfc 10%,
        rgba(162, 180, 200, 0.25) 10%,
        rgba(162, 180, 200, 0.25) 20%,
        #fcfcfc 20%
    );
    background-size: 160px 40px;
    overflow-x: hidden;
    overflow-y: auto;
}
div#redirect-item > p > button {
    position: absolute;
    left: 100%;
    transform: translate(calc(-100% - 12px), 0);
    height: 24px;
    width: 128px;
    font-size: 12px;
}
div#card {
    position: relative;
    width: 75%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px;
    margin-top: 32px;
    margin-bottom: 32px;
    background: linear-gradient(
        180deg,
        rgba(105, 165, 255, 0.55) 0%,
        rgba(105, 165, 255, 0.55) 50%,
        rgba(135, 185, 255, 0.5) 50%,
        rgba(135, 185, 255, 0.5) 100%
    );
    border: 1px solid rgba(255, 255,255, 0.5);
    box-shadow: 0px 0px 0px 2px rgb(152, 182, 200);
    border-radius: 6px;
    backdrop-filter: blur(3px);
}
div#card.half-size {
    width: 60%;
}
img#profile-image {
    margin-right: 16px;
}
img.decoration {
    border: 4px solid rgba(200, 230, 255, 0.60);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}
img.auto-scale {
    width: 100%;
    height: auto;
    display: block;
}
p.flex-paragraph {
    display: flex;
}
p.flex-spacing {
    margin-right: 16px;
}

div.full-width {
    width: 100%;
}
button.classic {
    background: linear-gradient(
        180deg,
        white 0%,
        white 45%,
        rgb(220, 220, 220) 55%
    );
    border: 1px solid white;
    box-shadow: 0px 0px 0px 1px rgb(90, 90, 90);
    border-radius: 3px;
}
button.classic:hover {
    border: 2px solid #7cb0ff;
}